USE [master]
GO
/****** Object:  Database [PRODUCTOS]    Script Date: 02/04/2023 21:15:00 ******/
CREATE DATABASE [PRODUCTOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRODUCTOS', FILENAME = N'E:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRODUCTOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRODUCTOS_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRODUCTOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRODUCTOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRODUCTOS]
GO
/****** Object:  Table [dbo].[BEBIDAS]    Script Date: 02/04/2023 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEBIDAS](
	[IdBebida] [int] NULL,
	[Nombre] [nvarchar](50) NULL,
	[Imagen] [nvarchar](500) NULL,
	[Precio] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BEBIDAS] ([IdBebida], [Nombre], [Imagen], [Precio]) VALUES (1, N'Coca-Cola', N'https://www.cocacola.es/content/dam/one/es/es2/coca-cola/products/productos/dic-2021/CC_Origal.jpg', 4)
INSERT [dbo].[BEBIDAS] ([IdBebida], [Nombre], [Imagen], [Precio]) VALUES (2, N'Fanta', N'https://www.bahiaprincipecongelados.com/fotos/reducidas/800-fanta-naranja-237-ml-cristal-1-5585.jpg', 3)
INSERT [dbo].[BEBIDAS] ([IdBebida], [Nombre], [Imagen], [Precio]) VALUES (3, N'Nestea', N'https://www.ristorantedamika.com/wp-content/uploads/2016/07/nestea-30cl.jpg', 5)
GO
USE [master]
GO
